<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">*
    <link rel="stylesheet" href="../static/css/artist.css">
    <title>Artist</title>
</head>
<body>
    <img src="{{ .Image }}" alt="not found">
    <h1> 
        {{ .Name }}
    </h1>
  
   <h1> 
    {{ .Members }}
   </h1>
   <h1>
    {{ .CreationDate }}
   </h1>
   <h1>
    {{ .FirstAlbum }}
   </h1>
   <h1>
    {{ .Locations  }}
   </h1>
 
    
</body>
</html>