<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Groupi-Tracker</title>
</head>
<body>
    <header>
        <h1>Groupi-Tracker</h1>
    </header>
    
  
        <main>
            {{ range . }}
            <div>
                <a href="/Artist?Artist={{ .Id }}" class="Artist" >
                    <img  src="{{ .Image }}" alt="artist">
                    <h2>{{ .Name }}</h2>
                
                </a>
                 
            
                
            </div>
            {{ end }}

        </main>
      
       
</body>
</html>