<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Groupi-Tracker</title>
</head>
<body>
    <header>
        <h1>Groupi-Tracker</h1>
    </header>
 

    <!-- Filter Button -->
    <div class="filter-button">
        Filter
    
        
            
            <form>
                <div class members>
                    <input type="checkbox" id="1" name="mumbers" value="1">
                    <label for="1">1</label>
                    <input type="checkbox" id="2" name="mumbers" value="2">
                    <label for="2">2</label>
                    <input type="checkbox" id="3" name="mumbers" value="3">
                    <label for="3">3</label>
                    <input type="checkbox" id="4" name="mumbers" value="4">
                    <label for="4">4</label>
                    <input type="checkbox" id="5" name="mumbers" value="5">
                    <label for="5">5</label>
                    <input type="checkbox" id="6" name="mumbers" value="6">
                    <label for="6">6</label>
                    <input type="checkbox" id="7" name="mumbers" value="7">
                    <label for="7">7</label>
                </div>
                <div>
                    <h6>the input should be betwen 1958 and 2013</h6>
                    <input type="number" id ="CreationDate min" name="CreationDate" min="1958" max="2013" value="1958">
                    <label for="CreationDate">Creation Date min</label>
                    <input type="number" id ="CreationDate Max" name="CreationDate" min="1958" max="2013" value="2013">
                    <label for="CreationDate">Creation Date max</label>

                </div>
                <div>
                    
                </div>

         
            </form>

    
    </div>
  
        <main>
            {{ range . }}
            <div>
                <a href="/Artist?Artist={{ .Id }}" class="Artist" >
                    <img  src="{{ .Image }}" alt="artist">
                    <h2>{{ .Name }}</h2>
                
                </a>
                 
            
                
            </div>
            {{ end }}

        </main>
      
       
</body>
</html>